::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-button {
  background: #fff;
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: #dfdfdf;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d53369;
  border-radius: 10px;
}
